<h1>Listing items_users</h1>

<table>
  <thead>
    <tr>
	  <th>User</th>
      <th>Item</th>
      <th>Category List</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @name_items_users.each do |items_user| %>
      <tr>
        <td><%= link_to items_user["user_name"], user_path(items_user["user_id"]), method: :get %></td>
        <td><%= items_user["item_name"] %></td>
		 <td><%=  %></td>
        <td><%= link_to 'Show', items_user_path(items_user["id"]), method: :get %></td>
        <td><%= link_to 'Edit', edit_items_user_path(items_user["id"]) %></td>
        <td><%= link_to 'Destroy', items_user_path(items_user["id"]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Items user', new_items_user_path %>
