<h1>Listing items_users</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items_users.each do |items_user| %>
      <tr>
        <td><%= items_user.item_id %></td>
        <td><%= items_user.user_id %></td>
        <td><%= link_to 'Show', items_user %></td>
        <td><%= link_to 'Edit', edit_items_user_path(items_user) %></td>
        <td><%= link_to 'Destroy', items_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Items user', new_items_user_path %>
