<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Purchased Items:</strong>
  <% item_names = @purchased_items.collect{ |i| i.name} %>
  <%= item_names.join(',  ') %>
</p>

<p>
  <strong>Recommended Items:</strong>
  <% recommended = @recommended_items[0..19] %>

  <% recommended.each do |item| %>
	<%= (link_to item["name"], item_path(item["item_id"]), method: :get ) + '   '%>
  <% end %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
