<%= form_for(@categories_item) do |f| %>
  <% if @categories_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categories_item.errors.count, "error") %> prohibited this categories_item from being saved:</h2>

      <ul>
      <% @categories_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br>
    <%= f.number_field :item_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
