<h1>Listing categories_items</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Item</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories_items.each do |categories_item| %>
      <tr>
        <td><%= categories_item.category_id %></td>
        <td><%= categories_item.item_id %></td>
        <td><%= link_to 'Show', categories_item %></td>
        <td><%= link_to 'Edit', edit_categories_item_path(categories_item) %></td>
        <td><%= link_to 'Destroy', categories_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categories item', new_categories_item_path %>
